<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exit Session</title>
  <link rel="stylesheet" href="start.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <div class="sliding-background">
  <div class="container">

<div id="lab">
            <h2>LAB ATTENDANCE SYSTEM</h2>
            <p>Designed By LIVEWIRE Kasaragod | 2025</p>
            <div id="time"></div>
            <div  class="buttons-section">
              <form action="/exitpage" method="post">

                <input type="text" id="input"  placeholder="Enter Your Token Number" name="token" >
                <div class="forget"><a href="/admin">forget</a></div>
              <button class="button-Exit">
                Exit
                <div id="fa1"><i class="fa-solid fa-arrow-right"></i></div>
              </button>
              <button class="button-GoBack" >
                 <a href="/">Go Back</a>
                <div id="fa2"><i class="fa-solid fa-arrow-left"></i></div>
              </button>
              </form>
            </div>
            <div class="image-below-buttons">
            </div>
            <footer>Need any help? Reach out to the lab admin</footer>
          </div>
        </div>
        </div>
        
        </body>
    
  
    

  <script src="lab2.js"></script>

</body>
</html>
